extends layout

block content
  h1.
    Welcome to #{title}
  #wrapper
    script.
      var logoutRedirect = function(){
        window.location.href = "http://localhost:3000";
      }  
    a(href="http://localhost:3000/userpage/#{userID}" rel="#{userID}").userLink User Page
    a(href="http://localhost:3000/logout").logOutLink Log Out
    #userList
      table
        thead
          th Picture
          th Username
          th Price
          th Contact
          th Target Audience
          th Delete?
        tbody
        each user, i in userlist
          tr
            td 
              img(src = "#{user.imgURL}").profPic
            td #{user.fullName}
            td #{user.price}
            td #{user.contact} #{user.username}
            td #{user.targetAudience}
            td
              a(href="#" rel = "#{user._id}").linkdeleteuser Delete?


    script.
      //Redirects to /adduser
      var advertRedirect = function(){
        window.location.href = "http://localhost:3000/adduser";
      }  
    #addUser
      if jUserType == "basic" 
        button(onclick='advertRedirect()')#advertButton Click to Advertise
      else
        a(href="#" rel = "").buttonRevertUser Click to become a basic user (needs to be fixed) 


    h2 #{loggedStatus}



        
        
