extends layout

block content
  h1.
    Welcome to #{title}
  #wrapper
    #userList
      table
        thead
          th Picture
          th Username
          th Price
          th Contact
          th Target Audience
          th Delete?
        tbody
        each user, i in userlist
          tr
            td 
              img(src = "#{user.imgURL}").profPic
            td #{user.fullName}
            td #{user.price}
            td #{user.contact} #{user.username}
            td #{user.targetAudience}
            td
              a(href="#" rel = "#{user._id}").linkdeleteuser Delete?


    h2 Add User 
    script.
      //Redirects user to authorize page so they can log-in to instagram 
      var loginRedirect = function(){
        window.location.href = "http://localhost:3000/authorize_user";
      }
    #addUser
      button(onclick='loginRedirect()')#instaButton Login Instagram



        
        
